<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Contacto</title>
    <link rel="stylesheet" href="/styles.css">
</head>
<body>
    <h1>Contacto</h1>
    <nav>
        <a href="/">Inicio</a> |
        <a href="/about">Acerca de</a> |
        <a href="/contac">Contacto</a>
    </nav>
    <div>
        <h4>Correo: jpatcoh@gmail.com <br>
            Telefono: 983-7000-4016</h4>
    </div>
  
</body>
</html>