<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Inicio</title>
    <link rel="stylesheet" href="/styles.css">
    
</head>

<body>
    <h1>TecNM - Instituto Tecnológico Superior de Felipe Carrillo Puerto</h1>
    <nav>
        <a href="/">Inicio</a> |
        <a href="/about">Acerca de</a> |
        <a href="/contac">Contacto</a>
    </nav>

    <h2> INGENIERIA EN SISTEMAS COMPUTACIONALES</h2>
    <img src="/imagenes/ISC.png" alt="Logo ISC">

</body>
</html>